{% assign page = include.page %}

<header>
    <div class="panel">
        <h3>
            {% if include.link %}
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
        </h3>

        <ul class="tags">
            {% assign tags_num = (page.tags | size) %}
            {% if tags_num > 0 %}
                <i class="fa fa-tags"></i>
            {% endif %}

            {% for tag in page.tags %}
            
                
            <div><a href="{{ '/search/?t=' | append: tag | prepend: site.baseurl }}" class="btn btn--inverse">{{ tag }}</a></div>
                
            
            {% endfor %}
        </ul>

        <div class="clearfix">
            <ul class="meta">

                {% if page.author %}
                <li>
                    <a href="{{ '/search/?a=' | append: page.author | prepend: site.baseurl }}">
                        <i class="fa fa-user"></i>
                        {{ page.author }}
                    </a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>


</header>
